trigger:
  - azure-pipelines

pool:
  vmImage: 'ubuntu-latest' # Agente Linux para rodar Docker e Java

variables:
  # --- CONFIGURAÇÕES ---
  # Substitua pelo nome da Service Connection que criaremos no Passo 4.1
  dockerRegistryServiceConnection: 'AcrConnection' 
  
  # Nome da imagem que será criada (pode manter este)
  imageRepository: 'includia-java-api'
  
  # Caminho do Dockerfile dentro do repositório
  dockerfilePath: '$(Build.SourcesDirectory)/dockerfiles/Dockerfile'
  
  # Tag da imagem baseada no ID do Build (rastreabilidade total)
  tag: '$(Build.BuildId)'
  
  # Configuração do Maven
  mavenPomFile: 'pom.xml'

stages:
- stage: Build
  displayName: Build and Push Stage
  jobs:
  - job: Build
    displayName: Build, Test and Dockerize
    steps:
    
    # 1. Preparar o Java 17 (Padrão atual Spring Boot)
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    # 2. Rodar Testes Unitários e Gerar Pacote .JAR (Maven)
    - task: Maven@4
      displayName: 'Maven Build & Test'
      inputs:
        mavenPomFile: '$(mavenPomFile)'
        goals: 'package' # Compila e empacota
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml' # Publica resultados de teste no Dashboard
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.17'
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false

    # 3. Construir e Enviar Imagem Docker para o ACR
    - task: Docker@2
      displayName: Build and Push to ACR
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest

    # 4. Copiar arquivos de infraestrutura para o Artefato (Para a Release usar depois)
    - task: CopyFiles@2
      displayName: 'Copy Scripts to Artifact'
      inputs:
        SourceFolder: '$(Build.SourcesDirectory)/scripts'
        Contents: '**'
        TargetFolder: '$(Build.ArtifactStagingDirectory)/scripts'

    # 5. Publicar Artefatos (Garante que a Release Pipeline enxergue este Build)
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact: drop'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'