trigger:
  - azure-pipelines


variables:
  azureSubscription: 'azureSubscription'
  acrConnection: 'acrConnection'
  acrLoginServer: 'acrincludia2771.azurecr.io'
  webAppName: 'app-includia-java-2771'
  imageRepository: 'includia-java-api'
  tag: '$(Build.BuildId)' 
  vmImageName: 'ubuntu-latest'

stages:
  - stage: Deploy
    displayName: Deploy Stage
    jobs:
      - deployment: Deploy
        displayName: Deploy to Azure Web App
        environment: 'production'
        pool:
          vmImage: $(vmImageName)
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: 'Azure Web App on Container Deploy'
                  inputs:
                    azureSubscription: $(azureSubscription)
                    appName: $(webAppName)
                    containers: $(acrLoginServer)/$(imageRepository):$(tag)
                    appSettings: |
                      -SPRING_PROFILES_ACTIVE "prod"
                      -PORT 80