trigger:
  - main

resources:
  - repo: self

variables:
  dockerRegistryServiceConnection: "256bec6c-8e4f-4886-9d5b-e3ae4e6407d2"
  azureSubscription: "azureSubscription"

  acrLoginServer: "acrincludia2771.azurecr.io"
  imageRepository: "includia-java-api"
  webAppName: "app-includia-java-2771"

  projectRoot: "IncludIA-Java"
  dockerfilePath: "$(projectRoot)/dockerfile"

  tag: "$(Build.BuildId)"
  vmImageName: "ubuntu-latest"

stages:
  - stage: Build
    displayName: Build and Push Stage
    jobs:
      - job: Build
        displayName: Build
        pool:
          vmImage: $(vmImageName)
        steps:
          - script: chmod +x $(projectRoot)/gradlew
            displayName: "Grant execute permission to gradlew"

          - task: Docker@2
            displayName: Build and push an image to container registry
            inputs:
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(dockerRegistryServiceConnection)
              buildContext: "$(projectRoot)"
              tags: |
                $(tag)
                latest

  - stage: Deploy
    displayName: Deploy Stage
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: Deploy
        displayName: Deploy to Azure Web App
        environment: "production"
        pool:
          vmImage: $(vmImageName)
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: "Azure Web App Deploy (Container)"
                  inputs:
                    azureSubscription: $(azureSubscription)
                    appName: $(webAppName)
                    containers: $(acrLoginServer)/$(imageRepository):$(tag)
                    appSettings: |
                      -SPRING_PROFILES_ACTIVE "prod"
                      -PORT 80
