
trigger:
  -  azure-pipelines

resources:
  - repositories:
      - repository: self

variables:
  azureSubscription: 'azureSubscription'
  acrConnection: 'acrConnection'
  acrLoginServer: 'acrincludia2771.azurecr.io'
  webAppName: 'app-includia-java-2771'
  imageRepository: 'includia-java-api'
  javaRootPath: 'includia/includia-java/IncludIA-Java-866ff6379b1e7f27c8c396d1b3a9138f2e8c6cb5'
  dockerfilePath: '$(javaRootPath)/dockerfile'
  tag: '$(Build.BuildId)'
  vmImageName: 'ubuntu-latest'

stages:
 
  - stage: Build
    displayName: Build and Push Stage
    jobs:
      - job: Build
        displayName: Build Job
        pool:
          vmImage: $(vmImageName)
        steps:
          - task: JavaToolInstaller@0
            inputs:
              versionSpec: '21'
              jdkArchitectureOption: 'x64'
              jdkSourceOption: 'PreInstalled'
            displayName: 'Setup Java 21'

          - script: chmod +x $(javaRootPath)/gradlew
            displayName: 'Grant execute permission to gradlew'

          - task: Gradle@3
            displayName: 'Run Unit Tests with Gradle'
            inputs:
              workingDirectory: '$(javaRootPath)'
              gradleWrapperFile: '$(javaRootPath)/gradlew'
              tasks: 'test'
              publishJUnitResults: true
              testResultsFiles: '**/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.21'
              sonarQubeRunAnalysis: false 

          - task: Docker@2
            displayName: 'Build and Push Docker Image to ACR'
            inputs:
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(dockerRegistryServiceConnection)
              buildContext: '$(javaRootPath)'
              tags: |
                $(tag)
                latest

          - task: CopyFiles@2
            displayName: 'Copy DB Scripts'
            inputs:
              SourceFolder: 'includia/includia-database'
              Contents: '**'
              TargetFolder: '$(Build.ArtifactStagingDirectory)/database'

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Artifacts'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'

  - stage: Deploy
    displayName: Deploy Stage
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: Deploy
        displayName: Deploy to Azure Web App
        environment: 'production'
        pool:
          vmImage: $(vmImageName)
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: 'Azure Web App on Container Deploy'
                  inputs:
                    azureSubscription: $(azureServiceConnection)
                    appName: $(webAppName)
                    containers: $(containerRegistry)/$(imageRepository):$(tag)
                    appSettings: |
                      -SPRING_PROFILES_ACTIVE "prod"
                      -PORT 80